# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset files
data/raw/*
data/processed/*
data/landmarks/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/landmarks/.gitkeep

# Trained models
models/*
!models/.gitkeep

# Results generated during experiments
results/*
!results/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
